@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo styles */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

/* this is to horizontally align the logo and the nav*/
#menu, #logo {
    line-height: 75px;
}

/* float the parent - nav menu - right*
and then the child li to the left otherwise if float li right the order reverses*/
#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px; 
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative; /*this is needed because we are using position absolute on cover text which is child of this div*/
}
/* overflow:hidden above is the same as using clear: both - means this section and its child clears the header
and also means it trims off the edge of the image when zoomed in to 110 percent*/

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /*below animates the zoom effect on the hero-image when the page loads */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; /*retains state of animation at last keyframe*/
}

/*creates the zoom for hero image */
@keyframes hero-zoom {
    /* initial state - scale is 100 percent */
    from { 
        transform: scale(1);
    }

    /*final state - scaled to 110 percent. fill-forwards above keeps it at this state */
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;
    position: absolute; /*sets position of this box relative to hero-outer section, which has position relative set*/
}

/* club ethos section */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    /**padding-top: 30px; removed but not mentioned in video - centers the image more**/
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

/*new class to target each of the about sections in the club ethos, then 
separate class below targets the left and right ones to float left or right*/
.about-heading {
    width: 60%;
    line-height: 20px;
    margin-bottom: 50px;
    clear: both; /*this vertically aligns both divs that are floated either left or right below*/
}

.left-about-heading {
    float: right; /*align to righ of parent div, beside center photo*/
}

.right-about-heading {
    float: left;
}

/*below is to make space for icons, which will be aligned towards centre image
and to align p text to right to create curve around centre image*/
.right-about-heading h2, .right-about-heading p {
    text-align: right; 
}

/*this is the heading text for the club ethos section*/
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

/*this is the outside circle container for the center image*/
#circle-container {
    width: 300px;
    height: 300px;
    border-radius: 50%; /*changes shape to a circle in combination with width and height above*/
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    margin: 0 auto; /*centers the circle inside the parent div, center-about*/
    padding: 30px;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpeg') no-repeat center center;
    height: 100%; /*height must be set or else image will not appear*/
    border-radius: 50%; /*to change to circle. Note image must be roughly square to work*/
}

/*event times in meetup section*/
#times {
    background-image: url('../images/dublin-city.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}